<html>
	<head>
		<title>Name And Age Submission Form</title>
	</head>
    <body>
        <form action="#" th:action="@{/}" th:object="${person}" method="post" id="signupForm">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" id="myName"/></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{age}" id="myAge"/></td>
                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</td>
                </tr>
                <tr>
                    <td><button type="submit" id="mySubmitButton">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>